<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">

    <ion-tab-button tab="acceuil">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
      <div class="active-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="tache">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Tâches</ion-label>
      <div class="active-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="equipe">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Équipe</ion-label>
      <div class="active-dot"></div>
    </ion-tab-button>

    <ion-tab-button tab="compte">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Compte</ion-label>
      <div class="active-dot"></div>
    </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>
