<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md" class="premium-tab-bar">
    
    <ion-tab-button tab="acceuil" class="tab-btn">
      <div class="tab-icon-wrapper">
        <div class="icon-glow"></div>
        <ion-icon name="home-outline" class="tab-icon"></ion-icon>
      </div>
      <ion-label>Accueil</ion-label>
      <div class="tab-indicator"></div>
    </ion-tab-button>

    <ion-tab-button tab="tache" class="tab-btn">
      <div class="tab-icon-wrapper">
        <div class="icon-glow"></div>
        <ion-icon name="checkmark-circle-outline" class="tab-icon"></ion-icon>
      </div>
      <ion-label>Tâches</ion-label>
      <div class="tab-indicator"></div>
    </ion-tab-button>

    <ion-tab-button tab="equipe" class="tab-btn">
      <div class="tab-icon-wrapper">
        <div class="icon-glow"></div>
        <ion-icon name="people-outline" class="tab-icon"></ion-icon>
      </div>
      <ion-label>Équipe</ion-label>
      <div class="tab-indicator"></div>
    </ion-tab-button>

    <ion-tab-button tab="compte" class="tab-btn">
      <div class="tab-icon-wrapper">
        <div class="icon-glow"></div>
        <ion-icon name="person-outline" class="tab-icon"></ion-icon>
      </div>
      <ion-label>Compte</ion-label>
      <div class="tab-indicator"></div>
    </ion-tab-button>
  
  </ion-tab-bar>
</ion-tabs>