ion-tab-bar {
    --background: #000;
    background: radial-gradient(circle at center, #1a140e 0%, #000000 100%);
    border-top: 1px solid rgba(243, 208, 120, 0.1);
    height: 75px;
    box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.9);
}

ion-tab-button {
    --color: #555; /* Couleur icône non sélectionnée */
    --color-selected: #f3d078;
    background: transparent;
    transition: 0.3s ease-in-out;

    /* Conteneur de l'icône pour gérer l'animation */
    .icon-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 35px;
        transition: 0.3s;
        
        ion-icon {
            font-size: 26px;
            transition: 0.3s;
        }
    }

    ion-label {
        font-size: 10px;
        font-weight: 700;
        margin-top: 4px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.6;
        transition: 0.3s;
    }
}

/* --- STYLE DE L'ONGLET SÉLECTIONNÉ --- */
ion-tab-button.tab-selected {
    
    .icon-wrapper {
        transform: translateY(-8px); /* L'icône monte plus haut */
        
        /* Halo lumineux derrière l'icône */
        &::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 35px;
            background: rgba(243, 208, 120, 0.15);
            border-radius: 50%;
            filter: blur(12px);
            z-index: -1;
        }
        
        ion-icon {
            /* Effet Gold Gradient sur l'icône */
            color: #f3d078;
            filter: drop-shadow(0 0 5px rgba(243, 208, 120, 0.8)) 
                    drop-shadow(0 0 15px rgba(193, 148, 51, 0.4));
        }
    }

    ion-label {
        opacity: 1;
        color: #f3d078;
        transform: scale(1.1); /* Le texte grossit légèrement */
        text-shadow: 0 0 5px rgba(243, 208, 120, 0.3);
    }

    /* Petite barre de soulignement stylée */
    &::before {
        content: "";
        position: absolute;
        bottom: 12px;
        width: 15px;
        height: 2px;
        background: linear-gradient(90deg, transparent, #f3d078, transparent);
        border-radius: 10px;
        box-shadow: 0 0 8px #f3d078;
    }
}

/* Animation au toucher */
ion-tab-button:active .icon-wrapper {
    transform: translateY(-8px) scale(0.85);
}