<ion-content>
  <div class="welcome-container">
    
    <div class="light-spot"></div>

    <div class="center-content">
      <div class="logo-box">
        <img src="assets/logo.png" class="main-logo">
      </div>
      <h1 class="brand-name">EVOLIX</h1>
      <div class="gold-line"></div>
      <p class="tagline">L'évolution de vos finances commence ici.</p>
    </div>

    <div class="bottom-section">
      <button class="btn-start" (click)="goToLogin()">
  COMMENCER
  <ion-icon name="arrow-forward-outline"></ion-icon>
</button>
    </div>

  </div>
</ion-content>