<ion-content [fullscreen]="true">
  <div class="auth-container">
    
    <!-- Header -->
    <div class="header-section">
      <div class="logo-wrapper">
        <div class="custom-logo"></div>
        <h1>EVOLIX</h1>
      </div>
      <div class="gold-divider"></div>
      <h2 class="page-title">Mot de passe oublié</h2>
    </div>

    <!-- Form -->
    <div class="form-section">

      <!-- Téléphone -->
      <div class="input-group">
        <div class="phone-prefix">
          <span>+243</span>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
        <input type="tel" placeholder="Votre numéro de téléphone">
      </div>

      <!-- Nouveau code -->
      <div class="input-group">
        <label>Nouveau</label>
        <input type="password" placeholder="••••••">
      </div>

      <!-- Confirmer -->
      <div class="input-group">
        <label>Confirmer</label>
        <input type="password" placeholder="••••••">
      </div>

      <!-- Bouton -->
      <button class="btn-gold-grad">RÉINITIALISER</button>

      <!-- Retour login -->
      <div class="footer-links">
        <span class="line"></span>
        <p>
          Retour ?
          <span><a href="/tabs/login">Se connecter</a></span>
        </p>
        <span class="line"></span>
      </div>

    </div>
  </div>
</ion-content>